= render 'articles/nav'

.row
  .twelve.columns
    %table.twelve
      %thead
        %tr
          %th Admin
          %th Title
          %th Content
          %th Status
          %th Category
          %th{:colspan => 3}
      %tbody
      - @all_articles.each do |article|
        %tr
          %td= article[:article_admin]
          %td= article[:article].title
          %td= article[:article].content
          %td= article[:article].status
          %td= article[:article_category]
          %td= link_to 'Show', article[:article]
          %td= link_to 'Edit', edit_article_path(article[:article])
          %td= link_to 'Destroy', article[:article], method: :delete, data: { confirm: 'Are you sure?' }

%br
.row
  = link_to 'New Article', new_article_path