= form_for @lead do |f|
  - if @lead.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lead.errors.count, "error")} prohibited this lead from being saved:"
      %ul
        - @lead.errors.full_messages.each do |msg|
          %li= msg
  .row
    .large-12.columns.large-centered.form-bg
      .rope
      .register-link
        %a{:href => "#register"} Register Today!
      .image-container 
        %img{:src => "/assets/banner.jpg"}
  .row
    .large-12.columns.large-centered.form-bg
      %h4.xtra-style-on-headers.bluish INTRODUCING TOTO & MAMA
      %p.xtra-p-style Welcome to Toto & Mama Online Directory where our members are your customers. 
      %p.xtra-p-style We understand why you started your business and want to make it easier for your primary customers - expectant women, new parents, parents of babies, toddlers and older children - to find your business, products and services.
  .row
    %h4.xtra-style-on-headers.bluish WHY LIST WITH US?
    .large-6.columns
      %h6.xtra-style-on-headers.red-bold No Cost
      %p.xtra-p-style We are offering you an opportunity to list your business for free on our website.
    .large-6.columns
      %h6.xtra-style-on-headers.red-bold Accessibility
      %p.xtra-p-style Your business will easily be reachable just by a click of a button.
    .large-6.columns
      %h6.xtra-style-on-headers.red-bold Increased Business
      %p.xtra-p-style A direct link from our website will help with the growth of traffic to your business.
    .large-6.columns
      %h6.xtra-style-on-headers.red-bold Feedback
      %p.xtra-p-style You will enjoy real-time customer comments and reviews that will help you improve your business.
    .large-6.columns
      %h6.xtra-style-on-headers.red-bold Innovative Marketing
      %p.xtra-p-style At Toto & Mama we have a dedicated team that will provide you with new and innovative ways to promote your business.
    .large-6.columns
      %br
      %br
      %p.xtra-p-style.further-info For further information, email us on 
      %a.contact-link.xtra-p-style.further-info{:href => 'mailto:habari@totomama.co.ke'} habari@totomama.co.ke
  .row#register
    %h4.xtra-style-on-headers.bluish LIST WITH US
    %ul{"data-orbit" => ""}
      %li{"data-orbit-slide" => "register-1"}
        .large-6.columns.main_form
          .row
            .large-12.columns
              .field
                = f.text_field :name, :placeholder => "What is your Business/listing name", :required => "required"
          .row
            .large-12.columns
              .field
                =f.label :hours, "Operating Hours: 9:00am - 5:00pm"
                = f.text_field :hours, :id => "hours", :placeholder => "Use the Slider to Select Time Range"
                #slider-range
                %br
          .row
            .large-12.columns
              .field
                = f.select :business_type, options_for_select(@type_options.collect{ |u| [u,u] }), {:prompt => 'What is the nature of your business', :required => "required"}
          .row
            .large-12.columns
              .field
                = f.select :business_target, options_for_select(@target_options.collect{ |u| [u, u] }),{:prompt => "Who is your business target", :required => "required"}
          .row
            .large-12.columns
              .field
                = f.text_area :description, :placeholder => "Explain what your business is about", :required => "required"
                %br      
        .large-6.columns.main_form
          .row
            .large-12.columns
              .field
                = f.text_field :physical_address_number, :placeholder => "Shop No./House No./Gate No./LR Plot No."
          .row
            .large-12.columns
              .field
                = f.text_field :physical_address_floor, :placeholder => "Floor"
          .row
            .large-12.columns  
              .field
                = f.text_field :physical_address_building, :placeholder => "Building Name"
          .row
            .large-12.columns
              .field
                = f.text_field :physical_address_street, :placeholder => "Street"
          .row
            .large-12.columns
              .field
                = f.text_field :physical_address_city, :placeholder => "City/Town"
          .row
            .large-12.columns  
              .field
                = f.text_field :physical_address_county, :placeholder => "Physical Address - County"
          .row
            .large-12.columns
              %a.btn-switch-slides{"data-orbit-link" => "register-2", :style => "float:right;"}Next
      %li{"data-orbit-slide" => "register-2"}
        .large-6.columns.main_form
          .row
            .large-12.columns  
              %h4.red-text Contact Details
              .field
                = f.text_field :postal_address_number, :placeholder => "Postcode - Postal Address"
          .row
            .large-12.columns  
              .field
                = f.telephone_field :phone_number, :placeholder => "Mobile No.", :required => "required"
          .row
            .large-12.columns  
              .field
                = f.email_field :email, :placeholder => "Email Address", :required => "required"
          .row
            .large-12.columns  
              .field
                = f.text_field :postal_address_county, :placeholder => "Postal Address - County"
        .large-6.columns.main_form 
          .row
            .large-12.columns
              .field.captcha
                - if flash[:notice]
                  .notice
                    = flash[:notice]
                = show_visual_captcha(:type => :horizontal)
          .row
            .large-12.columns
              .terms
                %label.terms-agreement
                  %input{:name => "TOS", :onClick => "enableSubmit(this)", :type => "checkbox", :value => "Accept"} 
                  %span.accept-text
                    I accept the Terms & Conditions.
          %br
          .row
            .large-12.columns  
              .actions
                = f.submit 'Save', :disabled => "", :class => "button medium", :id => "save-button", style: "float:right;"
                %br
                %a.btn-switch-slides.btn-previous{"data-orbit-link" => "register-1"}Previous
  