.row
  .large-12.columns
    %h1 Listing leads

    %table.admin-list
      %tr
        %th Name
        %th Email
        %th Phone number
        %th Target
        %th Type
        %th
        %th

      - @leads.each do |lead|
        %tr
          %td= lead.name
          %td= lead.email
          %td= lead.phone_number
          %td= lead.business_target
          %td= lead.business_type
          %td= link_to 'Show', lead
          %td= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    -#= link_to 'New Lead', new_lead_path
