%p#notice= notice

%p
  %b Name:
  = @lead.name
%p
  %b Email:
  = @lead.email
%p
  %b Phone number:
  = @lead.phone_number
%p
  %b Category:
  = @lead.category
%p
  %b Location:
  = @lead.location

= link_to 'Edit', edit_lead_path(@lead)
\|
= link_to 'Back', leads_path
