.row
  .twelve.columns
    %p#notice= notice

    %p
      %b Name:
      = @event.name
    %p
      %b Order:
      = @event.order

    = link_to 'Edit', edit_event_path(@event)
    \|
    = link_to 'Back', events_path
