.row
  .large-6.columns.centered
    %h4.subheader
      Administrator
      %small
        Log in to update products
    %hr
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .large-6.columns.centered
      - if flash[:alert]
        .row
          .alert-box.alert
            = flash[:alert]
            %a.close
              &times;
      .row
        .large-4.columns
          = f.label :email, :class => "right inline"
        .large-8.columns
          = f.email_field :email
      %br
      .row
        .large-4.columns
          = f.label :password, :class => "right inline"
        .large-8.columns
          = f.password_field :password
      - if devise_mapping.rememberable?
        .row
          .large-8.columns.offset-by-four
            = f.check_box :remember_me
            Remember me
      .row
        %br
        .large-8.columns.right.offset-by-four
          = f.submit "Sign in", :class => "button small success"




