.main_content
  .row
    .large-12.columns
      %h1 Stages
      %table.admin-list
        %thead
          %tr
            %th Name
            %th Order
            %th
            %th
            %th
        %tbody
          - @stages.each do |stage|
            %tr
              %td= stage.name
              %td= stage.order
              %td= link_to 'Show', stage
              %td= link_to 'Edit', edit_stage_path(stage)
              %td= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to 'New Stage', new_stage_path