= render 'categories/nav'

.row
  .twelve.columns
    %table.twelve
      %thead
        %tr
          %th Name
          %th Description
          %th Stage
          %th Order
          %th{:colspan => 3}
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td= category.description
            %td= category.stage.name
            %td= category.index
            %td= link_to 'Show', category
            %td= link_to 'Edit', edit_category_path(category)
            %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
  .four.columns