= form_for @product do |f|
  - if @product.errors.any?
    .row
      .twelve.columns
        #error_explanation
          %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
          %ul
            - @product.errors.full_messages.each do |msg|
              %li= msg
  .row
    .six.columns
      = f.label :name
      = f.text_field :name
    .six.columns
  .row
    .six.columns
      = f.label :description
      = f.text_area :description
    .four.columns
      = f.label :price
      .row.collapse
        .four.columns
          = f.text_field :price
        .two.columns
          %span.postfix
            kshs
        .six.columns
      .row
        .twelve.columns
          = f.label :rating
          = f.hidden_field :rating
          .rating
            %input#star5{:type => 'radio', :name => 'product[rating]', :value => '5'}
              %label{:for => 'star5', :title => '5'} 5 Stars
            %input#star4{:type => 'radio', :name => 'product[rating]', :value => '4'}
              %label{:for => 'star4', :title => '4'} 4 Stars
            %input#star3{:type => 'radio', :name => 'product[rating]', :value => '3'}
              %label{:for => 'star3', :title => '3'} 3 Stars
            %input#star2{:type => 'radio', :name => 'product[rating]', :value => '2'}
              %label{:for => 'star2', :title => '2'} 2 Stars
            %input#star1{:type => 'radio', :name => 'product[rating]', :value => '1'}
              %label{:for => 'star1', :title => '1'} 1 Stars
      .row
        .twelve.columns
          = f.label :category
          = f.collection_select :category_id, Category.all, :id, :name
      .row
        .twelve.columns
          %br
          = f.label :photo
          = f.file_field :photo
      .row
        .twelve.columns
          = image_tag @product.photo.url
    .two
  - if @product.type == "Shop"
    %input{:type=>"hidden", :value => "Shop", :name => "type" }
    .row
      .six.columns
        = f.label :address
        = f.text_field :address
      .six.columns
    .row
      .six.columns
        = f.label :lat
        = f.text_field :lat
      .six.columns
    .row
      .six.columns
        = f.label :lon
        = f.text_field :lon
      .six.columns
  .row
    .twelve.columns
      .actions
        = f.submit 'Save', :class => "button"

:javascript
  $(document).ready(function() {

    var rating = "#{@product.rating}";
    if (rating != "") {
      $('#star' + rating).attr('checked', 'checked');
    }


  });