.row
  .twelve.columns.ad
    .row
      .panel
        %h3 ADVERTISEMENT
.row
  .nine.columns
    .row.detail
      .three.columns
        = image_tag @product.photo.url
        = render :partial => "layouts/rating_readonly", :locals => { :product => @product }
      .nine.columns
        .twelve.columns
          %h5
            = @product.name
        .twelve.columns
          %dl.tabs.contained
            %dd.active
              %a{:href => "#productDescription"} Description
            %dd.hide-for-small
              %a{:href => "#productReviews"} Reviews
          %ul.tabs-content.contained
            %li#productDescriptionTab.active
              %p
                = @product.description
            %li#productReviewsTab
              .row.review.login
                .six.columns.centered
                  %a#loginLink{:href => "#"}
                    %h5.login Login to Review
              %form
                .row.review.rate
                  .two.columns
                    %h4 Rate
                  .ten.columns
                    .rating
                      %input#star5{:type => 'radio', :name => 'product[rating]', :value => '5'}
                        %label{:for => 'star5', :title => '5'} 5 Stars
                      %input#star4{:type => 'radio', :name => 'product[rating]', :value => '4'}
                        %label{:for => 'star4', :title => '4'} 4 Stars
                      %input#star3{:type => 'radio', :name => 'product[rating]', :value => '3'}
                        %label{:for => 'star3', :title => '3'} 3 Stars
                      %input#star2{:type => 'radio', :name => 'product[rating]', :value => '2'}
                        %label{:for => 'star2', :title => '2'} 2 Stars
                      %input#star1{:type => 'radio', :name => 'product[rating]', :value => '1'}
                        %label{:for => 'star1', :title => '1'} 1 Stars
    - if !@cross_sell_products.empty?
      .row.header
        .twelve.columns
          %h5 You might also like
      .row
        .twelve.columns
          - @cross_sell_products.each_with_index do |product, i|
            = render :partial => "layouts/product", :locals => { :product => product, :last => i == @cross_sell_products.length - 1 }
  = render "layouts/sidebar"