.row
  .twelve.columns.ad
    .row
      .panel
        %h3 ADVERTISEMENT
.row
  .nine.columns
    .row.detail
      .three.columns
        = image_tag @product.photo.url
        = render :partial => "layouts/rating_readonly", :locals => { :product => @product }
      .nine.columns
        .twelve.columns
          %h5
            = @product.name
        .twelve.columns
          %dl.tabs.contained
            %dd.active
              %a{:href => "#productDescription"} Description
            %dd.hide-for-small
              %a{:href => "#productReviews"} Reviews
          %ul.tabs-content.contained
            %li#productDescriptionTab.active This is simple tab 1s content. Pretty neat, huh?
            %li#productReviewsTab This is simple tab 2s content. Now you see it!
    - if !@cross_sell_products.empty?
      .row.header
        .twelve.columns
          %h5 You might also like
      .row
        .twelve.columns
          - @cross_sell_products.each do |product|
            = render :partial => "layouts/product", :locals => { :product => product }
  = render "layouts/sidebar"