%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b Rating:
  = @product.rating
%p
  %b Category:
  = @product.category.name

-#<%= image_tag @user.avatar.url %>
%p
  = image_tag @product.photo.url



= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
