!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:title)
      %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
      %meta{:content => content_for?(:description) ? yield(:description) : t(:description), :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header
      .container.row
        .twelve.columns
          .three.columns
            %a.logo-box{:href => root_url}
          .nine.columns
    #main{:role => "main"}
      - if admin_signed_in?
        =render "layouts/admin_navigation"
      = yield
    %footer
      .copyright.row
        %hr.twelve.columns
        .four.columns
          %p Copyright &copy; 2013
        .eight.columns
          %ul.inline-list.right
            %li
              - if admin_signed_in?
                = link_to "Log out #{current_admin.name}", destroy_admin_session_path, :method => :delete
              - else
                = link_to "Back", root_path
    / ! end of #container
