!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:title)
      %meta{:content => content_for?(:description) ? yield(:description) : t(:description), :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header
      .container.row
        .twelve.columns
          .three.columns
            %a.logo-box{:href => root_url}
          .nine.columns
        .twelve.columns
          %ul.nav-bar.custom
            - @categories.each do |category|
              %li.has-flyout.top
                %a{:href => "#"}
                  = category.name
            %li.has-flyout.top
              %a The TotoMama Marketplace
            %li.has-flyout.top
              %a Events and Activities
            %li.has-flyout.top
              %a Getting the right help

    #main{:role => "main"}
      = yield
    %footer
      .copyright.row
        %hr.twelve.columns
        .four.columns
          %p Copyright &copy; 2013
        .eight.columns
          %ul.inline-list.right
            %li
              %a{:href => categories_path} Categories
    / ! end of #container
