!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:title)
      %meta{:content => content_for?(:description) ? yield(:description) : t(:description), :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header
      .container.row
        .twelve.columns
          .three.columns
            %a.logo-box{:href => root_url}
          .nine.columns
            .row
              %nav.seven.columns.mini-top-nav.color
                %ul
                  %li
                    %a{:href => "#"}
                      %h5.subheader
                        Link
                  %li.divider
                    |
                  %li
                    %a{:href => "#"}
                      %h5.subheader
                        Link
                  %li.divider
                    |
                  %li
                    %a{:href => "#"}
                      %h5.subheader
                        Link
                  %li.divider
                    |
                  %li
                    %a{:href => "#"}
                      %h5.subheader
                        Link
                  %li.divider
                    |
                  %li
                    %a{:href => "#"}
                      %h5.subheader
                        Admin
            .row
              .nine.columns.search-bar
                %input{:type => "text", :name => "search", :placeholder => "What are you looking for?"}
              .three.columns.social.color
                %ul
                  %li
                    %a.pin
                  %li
                    %a.twt
                  %li
                    %a.fb

        =render "layouts/navigation"
    #main{:role => "main"}
      = yield
    %footer
      .copyright.row
        %hr.twelve.columns
        .four.columns
          %p Copyright &copy; 2013
        .eight.columns
          %ul.inline-list.right
            %li
              %a{:href => categories_path} Categories
            %li
              %a{:href => products_path} Products
    / ! end of #container
