!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:title)
      %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false" }
      %meta{:content => content_for?(:description) ? yield(:description) : t(:description), :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
        = yield(:scripts)
  %body{:class => "#{controller_name} #{action_name}"}
    #fb-root
    :javascript
      // Additional JS functions here
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '462061233858880', // App ID
          channelUrl : '//localhost:3000/channel.html', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // Additional init code here
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            FB.api('/me', function(response) {
                   window.user = response;
                   console.log('Good to see you, ' + response.name + '.');
                   enableReview();
                 });

          } else if (response.status === 'not_authorized') {
            // not_authorized
            disableReview();
          } else {
            // not_logged_in
            disableReview();
          }
         });
      };

      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));
    %header
      .container.row
        .large-12.columns
          .row
            .large-9.columns
            .large-3.columns.social.color
              %ul
                %li
                  %a.pin
                    %li
                      %a.twt
                    %li
                    %a.fb
        .row.large-12.columns.large-centered.shop-banner
          %img{:src => "/assets/shop-front.png"}

        -#=render "layouts/navigation"
    #main{:role => "main"}
      = yield
    %footer
      .copyright.row
        %hr.twelve.columns
        .four.columns
          %p Copyright &copy; 2013
        .eight.columns
          %ul.inline-list.right
            %li
              %a{:href => admin_area_path}
                Administration
    / ! end of #container
